.assets
.idea
.vscode
facefusion/__pycache__/choices.cpython-312.pyc
facefusion/__pycache__/cli_helper.cpython-312.pyc
facefusion/__pycache__/content_analyser.cpython-312.pyc
facefusion/__pycache__/core.cpython-312.pyc
facefusion/__pycache__/download.cpython-312.pyc
facefusion/__pycache__/execution_helper.cpython-312.pyc
facefusion/__pycache__/face_analyser.cpython-312.pyc
facefusion/__pycache__/face_helper.cpython-312.pyc
facefusion/__pycache__/face_masker.cpython-312.pyc
facefusion/__pycache__/face_store.cpython-312.pyc
facefusion/__pycache__/ffmpeg.cpython-312.pyc
facefusion/__pycache__/filesystem.cpython-312.pyc
facefusion/__pycache__/globals.cpython-312.pyc
facefusion/__pycache__/logger.cpython-312.pyc
facefusion/__pycache__/metadata.cpython-312.pyc
facefusion/__pycache__/normalizer.cpython-312.pyc
facefusion/__pycache__/typing.cpython-312.pyc
facefusion/__pycache__/vision.cpython-312.pyc
facefusion/__pycache__/wording.cpython-312.pyc
facefusion/processors/__pycache__/__init__.cpython-312.pyc
facefusion/processors/frame/__pycache__/__init__.cpython-312.pyc
facefusion/processors/frame/__pycache__/choices.cpython-312.pyc
facefusion/processors/frame/__pycache__/core.cpython-312.pyc
facefusion/processors/frame/__pycache__/globals.cpython-312.pyc
facefusion/processors/frame/__pycache__/typings.cpython-312.pyc
facefusion/processors/frame/modules/__pycache__/__init__.cpython-312.pyc
facefusion/processors/frame/modules/__pycache__/face_debugger.cpython-312.pyc
facefusion/processors/frame/modules/__pycache__/face_enhancer.cpython-312.pyc
facefusion/processors/frame/modules/__pycache__/face_swapper.cpython-312.pyc
facefusion/processors/frame/modules/__pycache__/frame_enhancer.cpython-312.pyc
requirements2.txt
facefusion/__pycache__/core.cpython-312.pyc
requirements2.txt
